
form {
  width: 400px;
  height: 100vh;
  margin: 100px auto;
}

.h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(100, 40, 40);
  text-align: center;
}

.h1 .letter{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

.bar {
  margin: 20px auto;
  width: 200px;
  height: 8px;
  background: linear-gradient(to right, rgb(128, 59, 50), rgb(221, 180, 155));
}

.sign_id div{
  margin-left: 50px;
}

.sign_pw div{
  margin-left: 50px;
}

.sign_btn {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 40px;
  background-color: rgb(40, 84, 106);
}

.sign_input {
  display: block;
  margin: 0 auto;
  width: 300px;
}
